<div class="content">
  <mat-toolbar class="title-toolbar">
    <span *ngIf="!regFlg">パスワード再設定</span>
    <span *ngIf="regFlg">登録完了</span>
  </mat-toolbar>
  <mat-card class="base-card">
    <mat-card-content>
      <div class="card">
        <mat-card class="contents-card">
          <ng-container *ngIf="!regFlg">
            <mat-horizontal-stepper labelPosition="bottom" selectedIndex="2" appDisableStepperFocus>
              <mat-step>
                <ng-template matStepLabel>パスワード再設定<br>メール送信</ng-template>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>メール送信<br>完了</ng-template>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>パスワード<br>再設定</ng-template>
                <p class="text">新しいパスワードをご入力のうえ、<br class={{device}}>
                『変更』ボタンを押してください。</p>
                <form [formGroup]="formGroup">
                  <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                    <mat-label>パスワード<span class="required">(必須)</span></mat-label>
                    <input matInput [type]="passHide ? 'password' : 'text'" formControlName="password" placeholder="新しいパスワードを入力してください" maxLength='20' required>
                    <mat-error *ngIf="formGroup.get('password').hasError('required')">{{msg.noenteredErr.replace('※1','パスワード')}}</mat-error>
                    <mat-error *ngIf="formGroup.get('password').hasError('vulnerable')">{{msg.passFormChkErr}}</mat-error>
                    <mat-hint>{{msg.passFormChkErr}}</mat-hint>
                    <button mat-icon-button matSuffix class="hide-button" type="button" (click)="passHide = !passHide">
                      <mat-icon>{{passHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div class="pass-strength">
                    <mat-hint>パスワードの強度</mat-hint>
                    <mat-password-strength [password]="formGroup.get('password').value"
                    (onStrengthChanged)="onStrengthChanged($event)"
                    [accentThreshold]="41" ></mat-password-strength>
                  </div>
                  <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                    <mat-label>パスワード（再入力）<span class="required">(必須)</span></mat-label>
                    <input matInput [type]="confirmPassHide ? 'password' : 'text'" formControlName="confirmPassword" placeholder="確認のためもう一度入力してください" maxLength='20' required>
                    <mat-error *ngIf="formGroup.get('confirmPassword').hasError('required')">{{msg.noenteredErr.replace('※1','パスワード')}}</mat-error>
                    <mat-error *ngIf="formGroup.get('confirmPassword').hasError('vulnerable')">{{msg.passFormChkErr}}</mat-error>
                    <button mat-icon-button matSuffix class="hide-button" type="button" (click)="confirmPassHide = !confirmPassHide">
                      <mat-icon>{{confirmPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-error class="password-unmatch" *ngIf="formGroup.hasError('password-unmatch')">{{msg.mismatchErr.replace('※1','パスワード')}}</mat-error>
                  <div class="update-button">
                    <button mat-raised-button type="button" (click)="onSubmit()" [disabled]="formGroup.invalid"[class.active-button]="!formGroup.invalid">
                      <mat-icon>cached</mat-icon>変更</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>完了</ng-template>
              </mat-step>
            </mat-horizontal-stepper>
          </ng-container>
          <!-- 変更ボタン押下後の画面 -->
          <ng-container *ngIf="regFlg">
            <app-complete-screen [mode]="'done'" [url]="'resetPassword'"></app-complete-screen>
          </ng-container>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
