@import '../../../../mylib/var';
@import '../../../../mylib/mixin';

.base-card {
  @include base-card;
}

// タイトル用ツールバー
.title-toolbar {
  @include title-toolbar;
  @include flex-style($justify: flex-end);
  span {
    margin-right: auto;
  }
}

// ベースカードの上の白いカードのスタイリング
.card {
  @include card;
}

.contents-card {
  @include one-content-card;
  .hide-button {
    @include focus-visible-outline;
  }
}

// フォームのスタイリング
mat-form-field {
  width: 100%;
  .required {
    color: $required-color;
  }
}

// ステッパーのアクティブアイコンの色変更
:host ::ng-deep .mat-step-icon-selected {
  background-color: $parts-yellow !important;
}

// ステッパーのアクティブタブの色変更
:host ::ng-deep .mat-step-label-selected {
  color: $submit-color !important;
}

// ステッパーの文字サイズ変更
:host ::ng-deep .mat-step-label {
  font-size: 0.1rem;
  overflow: visible !important;
  width: auto !important;
}

// ステッパーのクリックイベントを無しにする
:host ::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

// ステッパーによって発生するpaddingの削除
:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

// 説明のテキスト部分のスタイリング
.text {
  margin: 20px 10px !important;
}

// PC・TBの場合、改行無し
.pc {
  display: none;
}

// Password Strength Barのスタイリング
.pass-strength {
  font-size: 10px;
  margin: 20px 5px 25px 5px;
}

// 登録ボタンのスタイリング
.update-button {
  @include update-button;
  margin-top: 20px;
}

// ステッパーの通過済みアイコンの背景色変更
:host ::ng-deep {
  .mat-step-header:nth-of-type(1) .mat-step-icon,
  .mat-step-header:nth-of-type(2) .mat-step-icon,
  .mat-step-header:nth-of-type(3) .mat-step-icon {
    background-color: $submit-color;
  }
}

// ステッパーの通過済みラベルの文字色変更
:host ::ng-deep {
  .mat-step-header:nth-of-type(1) .mat-step-label,
  .mat-step-header:nth-of-type(2) .mat-step-label,
  .mat-step-header:nth-of-type(3) .mat-step-label,
  .mat-step-label:nth-of-type(2) {
    color: $submit-color !important;
  }
}


// パスワード不一致時のスタイル
.password-unmatch {
  margin-top: 20px;
  text-align: center;
}
