<div class="content">
  <mat-toolbar class="title-toolbar">
    <span class='toolbar-text'>利用規約</span>
  </mat-toolbar>
  <mat-card class="base-card">
    <div class="card">
      <mat-card class="contents-card radius">
        <div class="policy-explanation">{{userPolicy.header}}</div>
        <ng-container *ngFor="let body of userPolicy.body">
          <div class="policy-title">{{body.title}}</div>
          <ng-container *ngFor="let firstContents of body.firstContents">
            <div [ngClass]="{'policy-first-contents': !firstContents.class, 'policy-not-clause': firstContents.class=='notClause'}">{{firstContents.text}}</div>
            <ng-container *ngFor="let secondContents of firstContents.secondContents">
              <div class="policy-second-contents">{{secondContents.text}}</div>
              <ng-container *ngFor="let thirdContents of secondContents.thirdContents">
                <div class="policy-third-contents">{{thirdContents.text}}</div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <div class="policy-end">{{userPolicy.footer}}</div>
      </mat-card>
    </div>
  </mat-card>
</div>
