@import '../../../../mylib/mixin';

mat-card-content {
  display: flex;
  &.game-info {
    justify-content: space-between;
    font-size: 12px;
  }
}

mat-card {
  &.game-card {
    @include size($width: 225px, $height: 20px);
    margin: 0;
    padding: 3px 16px;
    background-color: rgba($color: lightslategray, $alpha: 0.2);
    &.winner {
      background-color: rgba($color: mediumturquoise, $alpha: 0.2);
    }
  }
}

.even {
  div:nth-child(2) {
    div:nth-child(1) {
      border-right: 2px #999 solid;
      border-top: 2px #999 solid;
    }
    div:nth-child(2) {
      border-bottom: 2px #999 solid;
    }
  }
}

.odd {
  div:nth-child(1) {
    div:nth-child(1) {
      border-bottom: 2px #999 solid;
      border-right: 2px #999 solid;
    }
  }
}

.score-container {
  display: flex;
  span {
    justify-content: space-between;
  }
}

.line {
  width: 25px;
}

.tournament {
  display: flex;
  overflow: scroll;
}

.round {
  @include flex-style($direction: column);
}

.flex-container {
  display: flex;
  flex: 0 0 auto;
  &.af-first-round {
    flex-grow: 1;
  }
}

.block {
  @include flex-style($direction: column);
  padding: 7px 0;
  margin: auto 0;
  position: relative;
}

.node {
  display: flex;
}

.line-container {
  @include flex-style($direction: column);
}

.flex-line {
  display: flex;
  flex-grow: 1;
}

.final-round {
  justify-content: center;
}

.third-place-match {
  @include position($position: relative, $top: 75%, $right: 257px)
}

.footer-button-area {
  @include flex-style($justify: space-between);
  margin-left: 25px;
}
