@import "../../../../mylib/var";
@import "../../../../mylib/mixin";

// ページタイトル用ツールバー
.title-toolbar {
  @include title-toolbar;
  @include flex-style($justify: flex-end);
  span {
    margin-right: auto;
  }
}

// 真ん中に配置されたベースのカードのスタイル
.base-card {
  @include base-card;
  // 戻る・登録・更新ボタンの共通スタイル
  .both-button {
    @include flex-style($justify: space-between);
    position: sticky;
    bottom: 20px;
    // 戻るボタンのスタイル
    .back-button {
      @include back-button;
      @include button-effect;
    }
    // 登録・更新ボタンのスタイル
    .reg-and-update {
      @include update-button;
      margin-top: 20px;
      margin-right: 8px;
      padding: 0 16px;
      @media (min-width: $media-tb) {
        margin-right: 15px;
      }
      @media (min-width: $media-pc) {
        margin-right: 20px;
      }
    }
    .active-button {
      @include active-button;
    }
  }
}

.btn {
  @include flex-style($justify: space-between);
  padding-top: 20px;
  // 登録ボタンのスタイル
  .reg-btn {
    width: 200px;
    margin-left: 80%;
  }
  // 戻るボタン
  .back-btn {
    width: 100px;
  }
}
