<mat-card>
  <!-- 画面タイトル部分 -->
  <div class="title">
    <img class="title-image" src="assets/images/yokohama.jpg" alt="横浜の写真">
    <div class="title-name">
      <p class="eng-title">COMPANY</p>
      <P class="jp-title">運営会社情報</P>
    </div>
  </div>

  <!-- 会社情報 -->
  <div class="company">
    <div class="logo">
      <img class="company-img" src="assets/images/BESTAFF_NewLogo_White_Chara60.png" alt="株式会社Bestaffのロゴ">
    </div>
    <div class="detail-company">
      <div>
        <p class="company-name">株式会社Bestaff</p>
        <p class="catch-copy">
          私達はお客様の<br>
          ベストパートナーであり続けます。
        </p>
      </div>
    </div>
  </div>

  <!-- 所在地 -->
  <div class="sub-title">
    <p class="sub-eng-title">LOCATION</p>
    <p class="sub-jp-title">所在地</p>
  </div>
  <div class="location">
    <img src="assets/images/bestaff_map.png" alt="株式会社Bestaffの住所">
    <p>
      〒220-0004<br>
      神奈川県横浜市西区北幸２丁目１０－２７<br>
      東武立野ビル７階
    </p>
  </div>

  <!-- お問合わせ -->
  <div class="sub-title">
    <p class="sub-eng-title">CONTACT</p>
    <p class="sub-jp-title">お問合わせ</p>
  </div>
  <div class="contact">
    <ul class="item">
      <li class="item-name">Email<mat-icon>email</mat-icon></li>
      <li class="item-contents">psh&#64;bestaff.co.jp</li>
    </ul>
    <ul class="item">
      <li class="item-name">URL<mat-icon>attach_file</mat-icon></li>
      <li class="item-contents"><a href="https://www.bestaff.co.jp" target="_blank">https://www.bestaff.co.jp</a></li>
    </ul>
  </div>
</mat-card>
