<div class="content">
  <!-- 画面名表示 -->
  <mat-toolbar class="title-toolbar">
    <span class='toolbar-text'>団体編集</span>
  </mat-toolbar>
  <mat-card class="base-card">
    <div class="card">
      <mat-tab-group mat-stretch-tabs animationDuration="0ms" selectedIndex="0">

        <!-- 団体基本情報タブ -->
        <mat-tab label="基本情報">
          <mat-card class="contents-card">
            <div>
              <form [formGroup]="formGroup" class="container">
                <!-- 団体ロゴ -->
                <div class="image-area">
                  <app-image-select [mode]="'edit'" [imageInfo]="imageInfo" (imageChange)="onChangeDataUrl($event)">団体ロゴを選択</app-image-select>
                </div>
                <div class="text-area">
                  <mat-form-field appearance="fill">
                    <mat-label>競技</mat-label>
                    <input type="text" matInput [value]="formGroup.get('sports').value | getSportValue" readonly tabindex="-1">
                  </mat-form-field>
                  <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                    <mat-label>団体名<span class="required">(必須)</span></mat-label>
                    <input matInput placeholder="団体名を入力してください" formControlName="organName" required maxLength='50' required>
                    <mat-error *ngIf="formGroup.get('organName').hasError('required')">{{msg.noenteredErr.replace('※1','団体名')}}</mat-error>
                    <mat-hint>{{msg.wordMaxChkErr.replace('※1','50')}}</mat-hint>
                  </mat-form-field>
                  <div formGroupName="organAddInf" class="address">
                    <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                      <mat-label>都道府県<span class="required">(必須)</span></mat-label>
                      <mat-select formControlName="organPrefecture" required>
                        <mat-option *ngFor="let prefecture of prefectures" [value]="prefecture">{{prefecture}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="formGroup.get('organAddInf').get('organPrefecture').hasError('required')">{{msg.unselectErr.replace('※1','都道府県')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                      <mat-label>市区町村<span class="required">(必須)</span></mat-label>
                      <input matInput placeholder="横浜市西区" formControlName="organCity" maxLength='100' required>
                      <mat-error *ngIf="formGroup.get('organAddInf').get('organCity').hasError('required')">{{msg.noenteredErr.replace('※1','市区町村')}}</mat-error>
                      <mat-hint>{{msg.wordMaxChkErr.replace('※1','100')}}</mat-hint>
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>団体紹介(任意)</mat-label>
                    <textarea placeholder="団体のプロフィールを入力できます" cdkTextareaAutosize cdkAutosizeMaxRows="10" matInput formControlName="organIntro" maxLength='1000'></textarea>
                    <mat-hint>{{msg.wordMaxChkErr.replace('※1','1000')}}</mat-hint>
                  </mat-form-field>
                </div>
              </form>
              <div class="update-button">
                <button mat-raised-button type="button" (click)="onClickSubmit()" [disabled]="!formGroup.dirty || formGroup.invalid" [class.active-button]="formGroup.dirty && !formGroup.invalid">
                  <mat-icon>cached</mat-icon>変更
                </button>
              </div>
            </div>
          </mat-card>
        </mat-tab>

        <!-- 所属スタッフ編集タブ -->
        <mat-tab label="所属スタッフ">
          <mat-card class="contents-card">
            <mat-card-content>
              <!-- 登録済みスタッフ一覧 -->
              <mat-list class="staff-list">
                <ng-container *ngFor="let staff of staffList">
                  <mat-divider></mat-divider>
                  <mat-list-item class="staff-row">
                    <div class="name">{{staff.nickname}}</div>
                    <div *ngIf="staffList.length >= 2" class="button-area btn">
                      <button class="remove-button" mat-icon-button type="button" (click)="removeAdminInfo(staff.userId, staff.nickname)"><mat-icon>person_remove</mat-icon></button>
                    </div>
                  </mat-list-item>
                </ng-container>
              </mat-list>
              <mat-divider></mat-divider>
              <!-- 招待中スタッフ -->
              <mat-list>
                <mat-list-item>
                  <div class="invite title">招待中のスタッフ</div>
                  <div class="invite staff" (click)="toInviteStaff()">所属スタッフを招待する</div>
                  <div class="button-area">
                    <button mat-icon-button type="button" class="add-button player" (click)="toInviteStaff()"> <mat-icon>person_add_alt_1</mat-icon></button>
                  </div>
                </mat-list-item>
              </mat-list>
              <mat-list class="invite-list">
                <ng-container *ngFor="let invStaff of invitationStaff">
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div class="name">{{invStaff.nickname}}</div>
                  </mat-list-item>
                </ng-container>
              </mat-list>
              <mat-divider></mat-divider>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!-- 戻るボタン -->
    <div class="footer-button-area">
      <button mat-raised-button type="button" (click)="onClickReturnToDetail()">戻る</button>
    </div>
  </mat-card>
</div>
