<!-- 画面名表示 -->
<mat-toolbar class="title-toolbar">
  <span>大会</span>
  <!-- 大会複製 -->
  <ng-container *ngIf="canEdit">
    <div (click)="onClickCopyCompDialogOpen()">
      <a>この大会を複製する</a>
      <button mat-icon-button type="button"><mat-icon>file_copy</mat-icon></button>
    </div>
  </ng-container>
</mat-toolbar>
<mat-card class="base-card">
  <div class="card">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" [selectedIndex]="selectedTab">
      <!-- 大会要綱タブ -->
      <mat-tab label="大会要綱">
        <app-competition-tab-common [editInfo]="editInfo" [compInfo]="compInfo" [canEdit]="canEdit" (eventChangeToEdit)="changeToEdit()"></app-competition-tab-common>
      </mat-tab>
      <!-- 参加チームタブ -->
      <mat-tab label="参加チーム">
        <!-- *ngIf="teamInfo"は本来の用途ではなく、親コンポーネントのconstructorとngOnInitの後に子コンポーネントのconstructorとngOnInitの処理がされるよう順番を担保する為に記載 -->
        <app-participating-teams-tab-common *ngIf="teamInfo" [device]="device" [teamInfo]="teamInfo" [editInfo]="editInfo" [canEdit]="canEdit" [leagueList]="leagueList"
        [tournamentList]="tournamentList" (eventCanDeactive)="dirtyFlagChange($event)"></app-participating-teams-tab-common>
      </mat-tab>
      <!-- スケジュールタブ -->
      <mat-tab label="スケジュール">
        <app-schedule-tab-common
          [compInfo]="compInfo" [canEdit]="canEdit" [leagueList]="leagueList" [tournamentList]="tournamentList" [loginInfo]="loginInfo"
          (eventOnClickRegAndEditGame)="onClickRegAndEditGame($event)" (eventChangeToEdit)="changeToEdit()">
        </app-schedule-tab-common>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- 戻るボタン -->
  <div class="back-button">
    <button mat-raised-button color="basic" type="button" (click)="onClickBack()">戻る</button>
  </div>
</mat-card>
