.colWidth15 {
  width: 15%;
  margin-right : 2%;
}

.colWidth32 {
  width: 32%;
  margin-right : 2%;
}

.colCompName{
  margin-left : 10px;
  margin-bottom : 10px;
  font-size: xx-large;
  vertical-align: middle;
}

.btnLeft{
  float: left;
}

.btnRight{
  float: right;
}
