<div class="content">
  <mat-card>
    <mat-card-content>

      <!-- リーグ情報 -->
      <ng-container *ngIf="gameList">
        <div class="league-info">
          <mat-form-field>
            <mat-label>グループ名称</mat-label>
            <input matInput [value]="gameList[0]?.gameInfCom?.gameSystemInf?.gameSystemName" readonly>
          </mat-form-field>
          <mat-form-field>
            <mat-label>参加チーム数</mat-label>
            <input matInput [value]="gameList[0]?.gameInfCom?.gameSystemInf?.gameTeamCnt" readonly>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- リーグ表 -->
      <ng-container *ngIf="gameList">
        <div class="scroll-table">
          <table class="league-table" border="1">
            <thead>
              <tr class="header-row">
                <th class="no-column">NO</th>
                <td class="team-select">チーム名</td>
                <ng-container *ngFor="let index of arrayNumberLength(gameList[0]?.gameInfCom?.gameSystemInf?.gameTeamCnt); index as headerNo">
                  <td class="data-cell">{{getTeamName(teamIdList[headerNo])}}</td>
                </ng-container>
                <td class="data-cell">勝ち点</td>
                <td class="data-cell">得失点</td>
                <td class="data-cell">順位</td>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let index of arrayNumberLength(gameList[0]?.gameInfCom?.gameSystemInf?.gameTeamCnt); index as rowNo; odd as isOdd;">
                <tr class="table-row" [ngClass]="{'odd-row': isOdd}">
                  <th class="no-column">{{rowNo + 1}}</th>
                  <td class="team-select">{{getTeamName(teamIdList[rowNo])}}</td>
                  <ng-container *ngFor="let index of arrayNumberLength(gameList[0]?.gameInfCom?.gameSystemInf?.gameTeamCnt); index as dataNo">
                    <ng-container *ngIf="rowNo < dataNo">
                      <td class="game-result data-cell" (click)="onClickCell(rowNo, dataNo, true)">
                        {{getLeagueInfo(rowNo, dataNo, true)}}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="rowNo == dataNo">
                      <td class="slash data-cell"></td>
                    </ng-container>
                    <ng-container *ngIf="rowNo > dataNo">
                      <td class="game-result data-cell" (click)="onClickCell(rowNo, dataNo, false)">
                        {{getLeagueInfo(rowNo, dataNo, false)}}
                      </td>
                    </ng-container>
                  </ng-container>
                  <td class="data-cell">{{pointList[rowNo]}}</td>
                  <td class="data-cell">{{diffPointList[rowNo]}}</td>
                  <td class="data-cell">{{rankList[rowNo]}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>

    </mat-card-content>
    <div class="footer-button-area">
      <button mat-raised-button color="primary" type="button" (click)="pageBack()">戻る</button>
    </div>
  </mat-card>
  <div class="mask" *ngIf="isShowModal" (click)="closeModal()"></div>
  <!-- モーダルウインドウ -->
  <div id="modal" *ngIf="isShowModal" class="form">
    <form [formGroup]="formGroup" class="result-form">
      <ng-container [formGroupName]="'teamForm'">
        <div class="flex-container">
          <mat-form-field>
            <mat-label>チーム名</mat-label>
            <input matInput readonly [value]="getTeamName(formGroup.get('teamForm').get('team').value)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>前半</mat-label>
            <input type="number" matInput placeholder="5" formControlName="score1stHalf">
            <mat-error *ngIf="formGroup.get('teamForm').get('score1stHalf').hasError('required')">{{msg.noenteredErr.replace('※1','前半')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('score1stHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('score1stHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>後半</mat-label>
            <input type="number" matInput placeholder="5" formControlName="score2ndHalf">
            <mat-error *ngIf="formGroup.get('teamForm').get('score2ndHalf').hasError('required')">{{msg.noenteredErr.replace('※1','後半')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('score2ndHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('score2ndHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>前半(延長戦)</mat-label>
            <input type="number" matInput placeholder="5" formControlName="scoreEX1stHalf">
            <mat-error *ngIf="formGroup.get('teamForm').get('scoreEX1stHalf').hasError('required')">{{msg.noenteredErr.replace('※1','前半(延長戦)')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('scoreEX1stHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('scoreEX1stHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>後半(延長戦)</mat-label>
            <input type="number" matInput placeholder="5" formControlName="scoreEX2ndHalf">
            <mat-error *ngIf="formGroup.get('teamForm').get('scoreEX2ndHalf').hasError('required')">{{msg.noenteredErr.replace('※1','後半(延長戦)')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('scoreEX2ndHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('teamForm').get('scoreEX2ndHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>試合合計</mat-label>
            <input type="number" matInput [value]="calcScore('teamForm')" readonly>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container [formGroupName]="'oppTeamForm'">
        <div class="flex-container">
          <mat-form-field>
            <mat-label>チーム名</mat-label>
            <input matInput readonly [value]="getTeamName(formGroup.get('oppTeamForm').get('team').value)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>前半</mat-label>
            <input type="number" matInput placeholder="5" formControlName="score1stHalf">
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('score1stHalf').hasError('required')">{{msg.noenteredErr.replace('※1','前半')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('score1stHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('score1stHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>後半</mat-label>
            <input type="number" matInput placeholder="5" formControlName="score2ndHalf">
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('score2ndHalf').hasError('required')">{{msg.noenteredErr.replace('※1','後半')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('score2ndHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('score2ndHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>前半(延長戦)</mat-label>
            <input type="number" matInput placeholder="5" formControlName="scoreEX1stHalf">
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('scoreEX1stHalf').hasError('required')">{{msg.noenteredErr.replace('※1','前半(延長戦)')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('scoreEX1stHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('scoreEX1stHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>後半(延長戦)</mat-label>
            <input type="number" matInput placeholder="5" formControlName="scoreEX2ndHalf">
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('scoreEX2ndHalf').hasError('required')">{{msg.noenteredErr.replace('※1','後半(延長戦)')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('scoreEX2ndHalf').hasError('pattern')">{{msg.formatChkErr.replace('※1','半角数字')}}</mat-error>
            <mat-error *ngIf="formGroup.get('oppTeamForm').get('scoreEX2ndHalf').hasError('max')">{{msg.numMaxChkErr.replace('※1','2文字')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>試合合計</mat-label>
            <input type="number" matInput [value]="calcScore('oppTeamForm')" readonly>
          </mat-form-field>
        </div>
      </ng-container>
    </form>
    <button class="btn" mat-flat-button color="primary" type="button" (click)="modGameResult()" [disabled]="formGroup.invalid || !formGroup.dirty">更新</button>
    <!-- 閉じるボタン -->
    <p (click)="closeModal()" class="close-button">✖</p>
  </div>
</div>
