<div class="content">
  <!-- 画面名表示 -->
  <mat-toolbar class="title-toolbar">
    <span>チーム登録</span>
  </mat-toolbar>
  <mat-card class="base-card">
    <mat-card-content>
      <div class="card">
        <mat-card class="contents-card">
          <form [formGroup]="formGroup" class="container">
            <div class="image-area">
              <app-image-select [mode]="'edit'" [imageInfo]="imageInfo" (imageChange)="onChangeDataUrl($event)">チームロゴを選択</app-image-select>
            </div>
            <div class="text-area">
              <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                <mat-label>競技<span class="required">(必須)</span></mat-label>
                <mat-select placeholder="競技を選択してください" formControlName="sports" required>
                  <mat-option *ngFor="let item of sportslist" [value]="item.key">{{item.value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.get('sports').hasError('required')">{{msg.unselectErr.replace('※1','競技')}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                <mat-label>チーム名<span class="required">(必須)</span></mat-label>
                <input matInput placeholder="チーム名を入力してください" formControlName="teamName" maxLength='50' required>
                <mat-error *ngIf="formGroup.get('teamName').hasError('required')">{{msg.noenteredErr.replace('※1','チーム名')}}</mat-error>
                <mat-hint>{{msg.wordMaxChkErr.replace('※1','50')}}</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                <mat-label>設立日<span class="required">(必須)</span></mat-label>
                <input matInput readonly placeholder="2020/01/01" [matDatepicker]="picker1" formControlName="teamEstDate" required tabindex="-1" (click)="picker1.open()">
                <mat-error *ngIf="formGroup.get('teamEstDate').hasError('required')">{{msg.unselectErr.replace('※1','設立日')}}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <div formGroupName="teamAddInf">
                <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                  <mat-label>都道府県<span class="required">(必須)</span></mat-label>
                  <mat-select placeholder="都道府県を選択してください" formControlName="teamPrefecture" required>
                    <mat-option *ngFor="let prefecture of prefectures" [value]="prefecture">{{prefecture}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formGroup.get('teamAddInf').get('teamPrefecture').hasError('required')">{{msg.unselectErr.replace('※1','都道府県')}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                  <mat-label>市区町村<span class="required">(必須)</span></mat-label>
                  <input matInput placeholder="横浜市西区" formControlName="teamCity" maxLength='100' required>
                  <mat-error *ngIf="formGroup.get('teamAddInf').get('teamCity').hasError('required')">{{msg.noenteredErr.replace('※1','市区町村')}}</mat-error>
                  <mat-hint>{{msg.wordMaxChkErr.replace('※1','100')}}</mat-hint>
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>電話番号(任意)</mat-label>
                <input type="tel" matInput placeholder="9999-99-9999" formControlName="teamTel" maxLength='20'>
                <mat-hint>{{msg.wordMaxChkErr.replace('※1','20')}}</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>チーム紹介(任意)</mat-label>
                <textarea placeholder="チームのプロフィールを入力できます" cdkTextareaAutosize cdkAutosizeMaxRows="10" matInput formControlName="teamIntro" maxLength='1000'></textarea>
                <mat-hint>{{msg.wordMaxChkErr.replace('※1','1000')}}</mat-hint>
              </mat-form-field>
            </div>
          </form>
          <div class="update-button">
            <button mat-raised-button type="button" (click)="onSubmit()" [disabled]="formGroup.invalid" [class.active-button]="!formGroup.invalid">
              <mat-icon>done</mat-icon>登録
            </button>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
