@import '../../../../mylib/var';
@import '../../../../mylib/mixin';

// 真ん中に配置されたベースのカードのスタイル
.base-card {
  @include base-card;
}

// タイトル用ツールバー
.title-toolbar {
  @include title-toolbar;
  @include flex-style($justify: flex-end);
  span {
    margin-right: auto;
  }
}

// ベースカードの上の白いカードのスタイリング
.card {
  @include card;
}

.contents-card {
  @include one-content-card;
}

// 画像の位置設定
.image-area {
  text-align: center;
}

// 内容部分の位置と横幅のスタイリング
.container {
  @include flex-style($direction: column, $justify: center);
  margin-top: 20px !important;
  @media (min-width: $media-tb) {
    flex-direction: row;
    align-items: flex-start;
  }
  .image-area {
    flex: 3;
    @media (max-width: $media-tb) {
      margin-bottom: 20px;
    }
  }
  .text-area {
    flex: 5;
    text-align: center;
    mat-form-field {
      width: 95%;
      @media (min-width: $media-pc) {
        width: 90%;
      }
      input[readonly] {
        cursor: pointer;
      }
    }
  }
}

// 登録ボタンのスタイル
.update-button {
  @include update-button;
}

// フォーム必須項目のカラーリング
.required {
  color: $required-color;
}

// タブフォーカス時の枠線のスタイリング
::ng-deep .mat-datepicker-toggle button:focus-visible {
  @include focus-visible-outline;
}
