@import '../../../../mylib/var';
@import '../../../../mylib/mixin';

.base-card {
  @include base-card;
}

// タイトル用ツールバー
.title-toolbar {
  @include title-toolbar;
  @include flex-style($justify: flex-end);
  span {
    margin-right: auto;
  }
}

// ベースカードの上の白いカードのスタイリング
.card {
  @include card;
}

.contents-card {
  @include one-content-card;
}

// フォームのスタイリング
mat-form-field {
  width: 100%;
  .required {
    color: $required-color;
  }
}

// 説明のテキスト部分のスタイリング
.text {
  margin: 20px 10px !important;
}

// PC・TBの場合、改行無し
.pc {
  display: none;
}

// Password Strength Barのスタイリング
.pass-strength {
  font-size: 10px;
  margin: 20px 5px 25px 5px;
}

// 変更ボタンのスタイリング
.change-button {
  @include update-button;
  margin-top: 20px;
}

// 戻るボタンのスタイル
.footer-button-area {
  @include back-button;
  margin: 0 0 0 20px;
}

// パスワード不一致時のスタイル
.password-unmatch {
  margin-top: 20px;
  text-align: center;
}

.hide-button {
  @include focus-visible-outline;
}
